body{
	background:url('langit.jpg')
}

h1{
	color:darkred;
	text-align:center;
	font-family:sans-serif
}

h2{
	color:darkred;
	text-align:center;
	font-family:sans-serif
}

tr{
	font-style:bold;
	color:brown;
}
	
p1{
	color:black;
	font-family:sans-serif
}
